name: action_sheet
version: 1.0.0
description: A new Flutter project.
repository: https://github.com/FelixBoehme/action_sheet/

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
    
flutter:
  uses-material-design: true